<main class="main">
	<div class="container">
		
		<div class="title-bar">
			<i class="fa-solid fa-address-card" style="color: #a6bfa8; padding-right: 0.5em;"></i>
			c:/emnljrz/cv/{{ yearNow }}
		</div>

		<div class="content">
			<div class="section">

				<!-- CONTACTS  -->
				<div class="title">
					emnljrz ~$
					<span class="cmd">ls contacts</span>
					<div class="sec-content">

						<div class="title">
							email:
							<span>
								<a href="mailto:{{ email }}"><i>{{ email }}</i></a>
							</span>
						</div>
						<div class="title">
							location:
							<span>
								{{ location }}
							</span>
						</div>
					</div>
				</div>
				
				<!-- SKILLS -->
				<div class="title">
					emnljrz ~$
					<span class="cmd">ls skills</span>
					<div class="sec-content">
						
						@for (skill of skills; track skill;) {
							<div class="title">
								{{ skill.field }}

								@for (item of skill.items; track item;) {
									<ul>
										<strong>{{ item.label }}</strong>
										
										@for (value of item.values; track value;) {
											<li>{{ value }}</li>
										}
										

									</ul>
								}
							</div>
						}

					</div>
				</div>

			
				
			</div>

		</div>
	</div>
</main>

