$white: #e7e7e7;
$lime: #8acc07;
$light-grey: #d7d7d7;
$highlight-blue: #375871;
$grey: #969696;
$dark-grey: #3a3a3a;
$orange: #f16501;
$teal: #5eaba2;
$brass: #515118;

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: inherit;
  position: relative;
  color: $white;
}

.intro {
  text-align: left;
  font-size: 12px;
}

.container {
  width: 100%;
  max-width: 700px;
  margin-bottom: 3rem;
  text-align: left;
  display: inline-block;
  padding: 1em;

  .title-bar {
    background: $dark-grey;
    min-height: 30px;
    display: flex;
    align-items: center; /* Centers the text vertically */
    padding: 0 10px;
  }

  .content {
    padding: 1em;

    .section {
      .title {
        color: $lime;
        margin-bottom: 1em;
      }
      .cmd {
        color: $light-grey;
        background-color: $highlight-blue;
        padding: 0px 3px;
      }
      .sec-content {
        margin: 5px 0px;

        .title {
          color: $orange;
          margin: 5px 0px;

          > span {
            color: $white;
            > a {
              text-decoration: underline;
              color: $white;
            }
          }

          > ul {
            color: $teal;
            margin: 0px;
            padding-inline-start: 2em;

            > li {
              margin-left: 1em;
              list-style-type: none;
              color: $white;
            }
          }
        }
      }
    }
  }
}

.item-header {
  margin: 1em 0em;
}

.orange {
  color: $orange;
}

.teal {
  color: $teal;
}

.white {
  color: $white;
}

.grey {
  color: $grey;
}

.work-present {
  background: $brass;
  padding: 0px 3px;
  text-decoration: underline;
}
